@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'STIX Two Text', serif;
  color: white;
}

body {
  background-color: #2c292f;
}

/*button up*/
#button {
  display: inline-block;
  background-color: #1a0000;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 3s;
  opacity: 0.5s, visibility .5s;
  opacity: 1;
  z-index: 1000;
}

#button i{
  font-size: 32px;
  color: white;
}

#button:hover {
  cursor: pointer;
  background-color: #a6a6a6;
}

#button.show {
  opacity: 1;
}


/*navbar*/
.navbar {
  overflow: hidden;
  padding-top: 10px;
  position: absolute;
  align-items: center;
  text-align: center; 
  left: 50%;
  transform: translate(-50%, 0);

}

.navbar-center a {
  text-shadow: 1px 1px 2px #0a0a0a;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  margin-left: 3rem;
  color: rgba(89, 89, 89, 0.25);
  line-height:2;
}

.navbar a:hover {
  color: white;
}


/*header*/


.header {
  /*background: url("img/raden-prasetya-EvjmSg1xurI-unsplash.jpg") 50% no-repeat;*/
  background-image: linear-gradient(to bottom, rgba(189, 191, 206, 0.52), rgba(44, 41, 47, 1)), url("img/btslv.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

/*carousel*/

img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 3px;
}

.owl-carousel {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}


/*services*/

 .services {
    display: flex;
    flex-wrap: wrap;
}
.services > * {
  flex: 1 1 50%;
}

.services-desc {
  padding: 2rem;
  text-align: center;

}

.services-desc {
  top: 50%;
}


ul {
  list-style-type:none;
}

/*footer*/

.footer-distributed{
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 30%;
}

.footer-distributed h3{
  color:  #ffffff;
  margin: 0;
}

/*comp logo*/

.footer-distributed .footer-left img{
  width: 30%;
}


/*foot links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/*foot center*/

.footer-distributed .footer-center{
  width: 35%;
}


.footer-distributed .footer-center i{
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center a:hover {
  color: #737373;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  text-decoration: none;
}


/*foot right*/

.footer-distributed .footer-right{
  width: 30%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


@media (max-width: 800px) {
  .services {
    flex-direction: column;
  }
}


@media (max-height:800px){
  footer { position: static; }
  header { padding-top:40px; }
}

@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
